.show-live-blog{
  background-color: var(--rt-light-blue-color);
  ul {
    li {
      a {
        position: relative;
        color: var( --rt-text-blue-color );
        padding-left: 16px;
        padding-right: 10px;
        &::before{
          content: '\2022';
          font-size: 30px;
          position: absolute;
          left: 0;
          bottom: -10px;
        }
        &::after {
          content: '\003E';
          position:absolute;
          right: 0;
          top: 0;
          font-weight: bold;
          color: var( --rt-text-blue-color );
        }
      }
      border-bottom: 1px solid #ced9e6;
      padding: 4px 16px;
      &:last-child {
         border-bottom-width: 0;
      }
    }
  }
}

.text-green { color: var(--rt-text-green-color)};
.text-red {color: var(--rt-text-red-color)};
.text-darkblue {color: var(--rt-text-blue-dark-color)}