@tailwind base;
@tailwind components;
@tailwind utilities;

// FontAwesome
@import '//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';

// Variables

:root {
    // Color
    --rt-text-blue-color: #0c355f; // Blue
    --rt-text-blue2-color: #007bff; // Blue2
    --rt-text-blue-dark-color: #0c355f; // Dark Blue
    --rt-text-green-color: #248f88; // Green
    --rt-text-red-color: #cc4949; // Red

    // Background Color
    --rt-light-blue-color: #e9edf1; //Light Background
    --rt-blue-color : #031735; // Blue Background
    --rt-dark-blue-color: #02122a; // Dark Blue Background
    --rt-light-silver: #f7f7f8; // Light Silver
    --rt-light-gray: #ccd0d6; // Light Gray
    --rt-light-gray2: #cdd1d7; // Light Gray 2
    
}

@import 'liveblog.scss';
@import 'liveblogthumb.scss';
@import 'listpost.scss';

